body {
    background: #fff;
    color: #444;
    font-family: "Cairo";
}

a {
    color: #1bb1dc;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #0a98c0;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,

h5,
h6 {
    font-family: "Cairo";
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 30px;
}

h4{
    padding: 9px
}
/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: #1bb1dc;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}

.back-to-top i {
    padding-top: 12px;
    color: #fff;
}


@import url('https://fonts.googleapis.com/css?family=Amiri&display=swap');


.navbar {
    background-color : #77C3F4;
    
}
.navbar-brand span:first-child { 
    color : red;
    
}
.navbar-brand span:last-child { 
    color :white;
    
}




.site-title , .site-desc{
  
  font-family: "Cairo";
}


.site-title{
margin-top: 5%;
margin-bottom: 6%;
font-size: 40px;
}


.site-desc {
    
    font-size: 14px;
    padding-left: 47%;
    margin-right: 30px;
}

.site-btn1{
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 20%;
}


.fa, .fas {
    font-weight: 900;
    color: white;
}

.navbar-nav{

    width:100% !important;
}

.navbar-nav .nav-link{
font-size: 16px;
margin-left: 20px;
 
}
.navbar-light .navbar-nav .nav-link {
    color: white;
    
}


.navbar-nav .active >.nav-link{
    color: #EB6161 !important 
}

.navbar-light .navbar-toggler{
    border: none;
    color: white;
    border: 2px solid white;
}

.navbar-light .navbar-nav  .navbar-light .navbar-item .nav-link:focu {
    color: rgba(0, 0, 0, 0.7);
    margin-right: 200px;
}

/* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #1bb1dc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*--
# Top Bar
--*/

#topbar {
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
}

#topbar .social-links {
    text-align: right;
}

#topbar .social-links a {
    color: #fff;
    padding: 15px 0;
    display: inline-block;
    line-height: 1px;
}

#topbar .social-links a:hover {
    color: #1bb1dc;
}

#topbar .social-links a:first-child {
    border-left: 0;
}


/*--
# Header
--*/

#header {
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    padding: 5px 0;
    background-color: #77c3f4;
}

.main-pages {
    margin-top: 60px;
}
.container{
 width:100% !important;
}

.site-content {
    background-image: url(../img/q.png);
    background-repeat:no-repeat;
    background-size: 80%;
    width: 1250px;
    
   
  }


/*--
# Navigation Menu
--*/


/* Desktop Navigation */

#header .main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.navbar-brand img{ 
    height: 40px;
    width: 40px;

}
#main-nav{
    display:flex;
    justify-content: space-arou;
}
.main-nav .nav-item .nav-link{
    float: right;
}
.main-nav .nav-item .dropdown-menu{
   color: white;
}

#header .main-nav>ul>li {
    position: relative;
    white-space: nowrap;
    float: left;
}

#header .main-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding-top: 10px;
    transition: 0.3s;
    font-family: "Cairo";
    font-weight: 600;
    padding-right: 50px;
    font-size: 20px;
    background-color: #77c3f4;
}

#header .main-nav a:active,
a:focus {
    color: #fff;
}

#header .main-nav ul .logo a {
    font-size: 30px;
    font-weight: 400;
}

#header .main-nav ul .logo a span:first-child {
    color: #eb6161;
    font-weight: bold;
}

#header .main-nav ul .logo a span:last-child {
    color: #fff;
    font-weight: bold;
}


/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    left: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(40, 38, 70, 0.8);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #8dc2fa;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-left: 10px;
    position: absolute;
    right: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\f077";
}

.mobile-nav .drop-down>a {
    padding-right: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-left: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: #065e77;
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(40, 38, 70, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}
.mb-4, .my-4 {
    margin-bottom:-2.5rem !important;
    margin-top: 5rem;
}
.col-md-3 img{
    height: 64px;
    width: 64px;
}
.text-center{
    background:#F2F6F8;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 39px;
}

/*--
# Sections
--*/


/* Sections Header
--------------------------------*/

.section-header h3 {
    font-size: 36px;
    color: #413e66;
    text-align: center;
    font-weight: 700;
    position: relative;
    font-family: "Cairo";
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #535074;
    width: 50%;
}


/* Section with background
--------------------------------*/

.section-bg {
    background: #f5f8fd;
}


/* Services Section
--------------------------------*/

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}


/* Our Advantages Section
--------------------------------*/

#our-advantages ul {
    width: 172px;
    height: 24px;
    color: #000000;
    font-family: "Cairo";
    font-size: 20px;
    font-weight: 400;
    margin: 120px 0;
}

#our-advantages li {
    color: #000000;
    font-family: "cairo";
    font-size: 20px;
    font-weight: 400;
}

#our-advantages .bx-top {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #707070;
    opacity: 0.2;
}


/* Call To Action Section
--------------------------------*/

#call-to-action {
    background: #2d2b46;
    background-size: cover;
    padding: 40px 0;
}

#call-to-action .cta-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#call-to-action .cta-text {
    color: #fff;
}

#call-to-action .cta-btn {
    font-family: "Cairo";
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 3px;
    transition: 0.5s;
    margin: 10px;
    border: 3px solid #fff;
    color: #fff;
}

#call-to-action .cta-btn:hover {
    background: #1bb1dc;
    border: 3px solid #1bb1dc;
}


/* Clients Section
--------------------------------*/



#clients {
    padding: 60px 0;
}

#clients .bx-link {
    width: 60px;
    height: 60px;
    background-color: #707070;
    opacity: 0.2;
    border-radius: 12px;
}

#clients .bx-up {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #707070;
    opacity: 0.2;
    position: relative;
    right: 20px;
}

#clients .bx-name {
    color: #77c3f4;
    font-family: "Cairo";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 3px;
}

#clients .bx-btn {
    padding-top: 60px;
}

#clients img {
    max-width: 80%;
    opacity: 0.8;
    transition: 0.3s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #1bb1dc;
}


/* Pricing Section
--------------------------------*/

#pricing {
    padding: 80px 0;
}

#pricing .card {
    border: 0;
    border-radius: 0px;
    box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
    transition: all .3s ease-in-out;
    padding: 36px 0;
    position: relative;
}

#pricing .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #1bb1dc;
    transition: 0.5s;
}

#pricing .card:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
}

#pricing .card:hover:after {
    width: 100%;
}

#pricing .card .card-header {
    background-color: white;
    border-bottom: 0px;
    -moz-text-align-last: center;
    text-align-last: center;
}

#pricing .card .card-title {
    margin-bottom: 16px;
    color: #535074;
}

#pricing .card .card-block {
    padding-top: 0;
    text-align: center;
}

#pricing .card .list-group-item {
    border: 0px;
    padding: 6px;
    color: #413e66;
    font-weight: 300;
}

#pricing .card h3 {
    font-size: 64px;
    margin-bottom: 0px;
    color: #535074;
}

#pricing .card h3 .currency {
    font-size: 30px;
    position: relative;
    font-weight: 400;
    top: -30px;
    letter-spacing: 0px;
}

#pricing .card h3 .period {
    font-size: 16px;
    color: #6c67a3;
    letter-spacing: 0px;
}

#pricing .card .list-group {
    margin-bottom: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #77c3f4;
    border-color: #77c3f4;
    border-radius: 35px;
}

#pricing .card .btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #5f5b96;
    border-radius: 0;
    padding: 10px 24px;
    letter-spacing: 1px;
    border-radius: 3px;
    display: inline-block;
    background: #1bb1dc;
    color: #fff;
}

#pricing .card .btn:hover {
    background: #0a98c0;
}


/*
    Contact form
*/

#contactform {
    padding: 60px 0;
}

#contactform .form-control {
    background-color: #4a4242;
    color: #ffffff;
    font-family: "Cairo";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
    opacity: 0.6;
}


/* Frequently Asked Questions Section
--------------------------------*/

#faq {
    padding-top: 140px;
    padding-bottom: 40px;
    overflow: hidden;
}

#faq #faq-list {
    padding: 0;
    list-style: none;
}

#faq #faq-list a {
    padding: 22px 0;
    display: block;
    position: relative;
    font-family: "Cairo";
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    padding-right: 20px;
}

#faq #faq-list a:active,
a:focus {
    background-color: #a1d8fb;
    color: #000000;
    font-family: "Cairo";
    font-size: 20px;
    font-weight: 700;
}

#faq #faq-list i {
    font-size: 24px;
    position: absolute;
    left: 15px;
    top: 20px;
}

#faq #faq-list li {
    border: 1px solid #D0D0D0;
    margin-bottom: 20px;
}

#faq #faq-list p {
    margin-bottom: 20px;
    color: #000000;
    font-family: "Cairo";
    font-size: 16px;
    font-weight: 400;
    padding-top: 10px;
    padding-right: 10px;
}

#faq #faq-list a.collapse {
    color: #000000;
}

#faq #faq-list a.collapsed {
    color: #000;
    font-family: "Cairo";
    font-size: 20px;
    font-weight: 700;
}

#faq #faq-list a.collapsed i::before {
    content: "\f2c7" !important;
}


/*--
# Footer
--*/

#footer {
    padding: 0 0 30px 0;
    font-size: 14px;
    background: #fff;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    text-align: center;
    background-color: #77c3f4;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Cairo";
    color: #413e66;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#footer .footer-top .footer-info p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Cairo";
    color: #535074;
}

#footer .footer-top .social-links a {
    font-size: 36px;
    display: inline-block;
    background: #fff;
    color: #5B5F61;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    transition: 0.3s;
}

#footer .footer-top .footer-nav a {
    font-size: 20px;
    display: inline-block;
    color: #fff;
    padding: 20px 0;
    padding-left: 20px;
    text-align: center;
    margin-top: 45px;
}

#footer .footer-top .social-links a:hover {
    background: #18AEE7;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #413e66;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
    color: #1bb1dc;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
    border: 1px solid #d9dde6;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #1bb1dc;
    border: 1px solid #1bb1dc;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #0a98c0;
}

#footer .footer-top .form .form-group {
    margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage {
    color: #fff;
    background: #1bb1dc;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-top .form #errormessage {
    color: #fff;
    display: none;
    background: red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#footer .footer-top .form #sendmessage.show,
#footer .footer-top .form #errormessage.show,
#footer .footer-top .form .show {
    display: block;
}

#footer .footer-top .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#footer .footer-top .form label {
    color: #413e66;
    font-weight: 500;
}

#footer .footer-top .form input,
#footer .footer-top .form textarea {
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dce1ec;
    font-size: 14px;
}

#footer .footer-top .form input::-webkit-input-placeholder,
#footer .footer-top .form textarea::-webkit-input-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input::-moz-placeholder,
#footer .footer-top .form textarea::-moz-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input:-ms-input-placeholder,
#footer .footer-top .form textarea:-ms-input-placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form input::placeholder,
#footer .footer-top .form textarea::placeholder {
    color: #a2a0bd;
}

#footer .footer-top .form button[type="submit"] {
    background: #1bb1dc;
    border: 0;
    border-radius: 3px;
    padding: 8px 30px;
    color: #fff;
    transition: 0.3s;
}

#footer .footer-top .form button[type="submit"]:hover {
    background: #0a98c0;
    cursor: pointer;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #000000;
    font-size: 18px;
    opacity: 0.8;
    font-family: "Cairo";
    font-weight: 400;
}

#footer .credits {
    text-align: center;
    font-size: 14px;
    padding-top: 4px;
    color: #8582a8;
}

#footer .credits a {
    color: #1bb1dc;
}

#footer .credits a:hover {
    color: #0a98c0;
}


/*--
# Responsive Media Queries
--*/

@media (min-width: 991px) {
    #call-to-action .cta-btn-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media (min-width: 992px) {
    #intro .intro-info {
        padding-top: 80px;
    }
    #testimonials .testimonial-item p {
        width: 80%;
    }
}

@media (max-width: 991px) {
    #topbar {
        display: none;
    }
    #header {
        height: 70px;
        padding: 15px 0;
    }
    #header .logo h1 {
        font-size: 28px;
        padding: 8px 0;
    }
    #pricing {
        padding-bottom: 30px;
    }
    #pricing .card {
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
    #faq #faq-list a {
        font-size: 18px;
    }
    #faq #faq-list i {
        top: 13px;
    }
}

@media (max-width: 767px) {
    #intro {
        height: auto;
        padding: 80px 0 60px 0;
    }
    #intro .container {
        height: auto !important;
    }
    #intro .intro-img {
        width: 80%;
    }
    #intro .intro-info {
        text-align: center;
        padding-top: 40px;
    }
    #intro .intro-info h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    .section-header p {
        width: 100%;
    }
    #testimonials .testimonial-item {
        text-align: center;
    }
    #testimonials .testimonial-item .testimonial-img {
        float: none;
        margin: auto;
    }
    #testimonials .testimonial-item h3,
    #testimonials .testimonial-item h4,
    #testimonials .testimonial-item p {
        margin-left: 0;
    }
}

@media (max-width: 574px) {
    #footer .footer-top .social-links a {
        margin-bottom: 25px;
    }
}